h1 {
  color: #fd0727;
  font-size: 3em;
}

h2 {
  color: #fe6d66;
  font-size: 2em;
  margin-left: 100px;
}

h3 {
  color: #7f9106;
}

body {
  font-family: "Itim", Verdana, sans-serif;
  font-size: 1.5em;
  background-color: #fffcf2;
  color: #2a3d45;
}

#container {
  display: flex;
  flex-direction: column;
  margin: 2vw;
}

header {
  display: flex;
  justify-content: center;
}

#introduction-section {
  display: flex;
  flex-direction: row;
}

#dania-image {
  margin: 0 5%;
}

p {
  margin: 0 5%;
  padding: 5px 5%;
}

ul {
  list-style-position: inside;
  margin: 0 5%;
}

footer {
  align-self: center;
  text-align: center;
}

a:link {
  color: #7f9106;
  text-decoration: none;
}

a:visited {
  color: #d7d102;
  text-decoration: none;
}

a:focus {
  outline: solid 2px #ffca1e;
  text-decoration: underline;
  color: green;
}

a:hover {
  color: #fd0727;
  text-decoration: underline;
}

a:active {
  color: #fe6d66;
  position: relative;
  top: 3px;
  text-decoration: none;
  outline: 0;
}